.FileCommanderItem {
    width: 174px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: transparent;
    box-sizing: border-box;
    user-select: none;
}

.FileCommanderItem:hover {
    border-radius: 10px;
    border: 1px solid #839cff;
    background-color: #fcfcfc;
    box-sizing: border-box;
}

.FileCommanderItem.selected {
    border-radius: 10px;
    background-color: #f2f5ff;
    box-sizing: border-box;
}

.FileCommanderItem .type {
    margin-top: 50px !important;
    border-radius: 5.5px;
    background-color: #fcfcfc;
    border: solid 1px #5291ff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #5291ff;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 11px;
    pointer-events: none;
    text-transform: uppercase;
    width: 75px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.07);
}

.FileCommanderItem img {
    margin-top: 50px !important;
    margin-left: 30px !important;
    pointer-events: none;
    width: 99px;
}

.FileCommanderItem img, .FileCommanderItem .type {
    margin: 10px auto;
    height: 75px;
    margin-bottom: 27px;
}

.FileCommanderItem .name {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    letter-spacing: -0.1px;
    color: #000;
    letter-spacing: normal;
    word-break: break-all;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: -3px 10px;
}

.FileCommanderItem .name:hover {
    text-decoration: underline;
}

.FileCommanderItem .created {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2a5fc9;
}

.FileCommanderItem .properties {
    color: #2a5fc9;
    float: right;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    visibility: hidden;
    cursor: pointer;
}

.FileCommanderItem:hover > .properties  {
    visibility: hidden;
}

.FileCommanderItem.dragOver {
    border:  3px solid #aab3ff;
    background-color: #f2f5ff;
}
