@layer components {
  .navigation-buttons {
    height: max-content;
  }

  .pagination-button {
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px !important;

    @apply cursor-pointer rounded-1px text-neutral-500 text-xs hover:bg-l-neutral-10 flex items-center justify-center;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-blue-10;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-blue-30;
  }
}

.drag-and-drop-with-items-message-container {
  box-shadow: 0px 2px 15px rgba(179, 186, 197, 0.5);
}
