td {
    padding: 14px 0;
}

.type-icon {
    height: 22px;
}

.file-list-item-actions-button {
    $size: 18px;
    height: $size;
    width: $size;

    img {
        width: 12px;
        margin: auto;
    }
}

@layer components {
    .file-list-item {
        background-color: white;
    
        @apply border-b border-l-neutral-30 text-sm;

        &:hover, &.selected {
            @apply bg-blue-10;
        }
    }
    
    .hover-action {
        @apply transition opacity-0 group-hover:opacity-100 text-blue-60;

        img {
            width: 14px;
        }
    }

    .file-list-item-name-span {
        @apply w-min whitespace-nowrap overflow-hidden overflow-ellipsis text-neutral-900 text-sm px-1 border border-dashed border-opacity-0 border-blue-40 hover:border-opacity-100;
    }
}