@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-primary {
    @apply h-11 cursor-pointer rounded-lg bg-primary px-5 font-medium text-white duration-100 ease-in-out hover:bg-primary-dark;

    &.loading {
      @apply bg-primary-dark;
    }
    &.disabled {
      @apply bg-gray-30;
    }
  }

  .button-primary-rounded {
    @apply h-11 cursor-pointer rounded-full bg-primary px-5 text-center font-medium text-white duration-100 ease-in-out hover:bg-primary-dark;

    &.loading {
      @apply bg-primary-dark;
    }
    &.disabled {
      @apply bg-gray-30;
    }
  }

  .button-secondary {
    @apply h-11 cursor-pointer rounded-lg bg-gray-5 px-5 font-medium text-gray-80 duration-100 ease-in-out hover:bg-gray-20 disabled:bg-gray-5 disabled:text-gray-40;
  }

  .button-danger {
    @apply h-11 cursor-pointer rounded-lg bg-red-20 px-5 font-medium text-white duration-100 ease-in-out hover:bg-red-30 disabled:bg-gray-30;
  }

  .button-loading-spinner {
    @apply inline h-5 w-5 animate-spin;
  }
}
