@layer components {
  .side-nav {
    padding-bottom: var(--footer-height);
    @apply min-w-sidenav-1280 w-sidenav-1280 pl-6 pr-2 bg-l-neutral-20 flex flex-col justify-between;

    .collapse-button {
      left: 10rem;

      @apply top-2.5;
    }
  }
  .side-nav.collapsed {
    @apply bg-white min-w-sidenav-1280-collapsed w-sidenav-1280-collapsed px-0;

    .collapse-button {
      @apply left-2.5;
    }
  }
}

.sidenav-logo {
  height: 36px;
}

.account-state-container {
  box-shadow: 0px 4px 30px rgba(122, 134, 154, 0.12);
}