@layer components {
    .file-grid-item {
        border-radius: 8px;
        height: 125px;

        @apply relative bg-white hover:bg-blue-20 hover:border hover:border-blue-40 py-3 px-6 ;

        .file-icon {
            height: 40px;
        }
    }

    .file-grid-item-actions-button {
        border-radius: 50%;
        right: 8px;
        top: 8px;

        @apply w-4 h-4 bg-white cursor-pointer font-bold text-blue-60 absolute transition opacity-0 group-hover:opacity-100;
    }
}