@layer components {
    .file-grid-item {
        border-radius: 8px;
        height: 125px;

        @apply relative p-3 bg-white hover:bg-blue-10;

        .file-icon {
            height: 40px;
        }
    }

    .file-grid-item-actions-button {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        right: 8px;
        top: 8px;

        @apply bg-white cursor-pointer font-bold text-blue-60 absolute transition opacity-0 group-hover:opacity-100;
    }
}