
@layer components {
  .file-list-item {
    background-color: white;

    @apply relative py-3.5 border-b border-neutral-30 text-base w-full flex;

    &:hover,
    &.selected {
      @apply bg-blue-20;
    }

    &.is-dragging {
      @apply opacity-50;
    }
  }

  .hover-action {
    @apply transition invisible group-hover:visible text-blue-60;

    img {
      width: 14px;
    }
  }

  .file-list-item-edit-name-button {
    min-width: 20px;

    @apply ml-1 h-5 w-5 cursor-pointer opacity-0 text-blue-60;
  }

  .file-list-item-name {
    &:hover {
      .file-list-item-edit-name-button {
        @apply opacity-100;
      }
    }
  }

  .file-list-item-name-span {
    @apply flex-1 whitespace-nowrap overflow-hidden overflow-ellipsis text-neutral-900 px-1 cursor-pointer  hover:underline;
  }

  .file-list-item-actions-button {
    @apply rounded-1/2 w-5 h-5 text-blue-60 bg-neutral-20 font-bold p-0.5;
  }
}
