// .scrollbar::-webkit-scrollbar {
//   width: 32px;
//   background-color: #c1c7d0;
//   position: absolute;
//   border: 15px solid white;
//   border-radius: 100px;
// }

// .scrollbar::-webkit-scrollbar-thumb {
//   background: #0f62fe;
//   background-clip: padding-box;
//   border: 15px solid transparent;
//   border-radius: 100px;
//   -webkit-border-radius: 100px;
//   box-shadow: none;
//   -webkit-box-shadow: none;
// }

// .scrollbar::-webkit-scrollbar-track {
//   background: none;
//   border: none;
// }

.file-logger-modal {
  width: 300px;
}
