.InxtContainerOption {
  .card {
    .card-header {
      font-size: 18px;
      color: black;
      font-weight: bold;
      padding: 1px;
      width: 134px;
      height: 57px;
      margin: auto;
      border-radius: 4px !important;
      background: linear-gradient(88deg, #096dff, #00b1ff);
      line-height: 55px;

      .card-header-content {
        background: white;
        height: 100%;
        border-radius: 4px;
      }
    }

    .card-text {
      background-color: transparent;
      font-size: 14px;
      line-height: 40px;
      height: auto;
    }
  }
}
