.password-strength {
  .progress {
    height: 3px;

    .progress-bar {
      &[aria-valuenow="33"],&[aria-valuenow="0"] {
        background-image: linear-gradient(to right, #810000, #ff0000);
      }

      &[aria-valuenow="66"] {
        background-image: linear-gradient(to right, #f4ff53, #ffe600);
      }

      &[aria-valuenow="100"] {
        background-image: linear-gradient(to right, #00db5b, #00ff0d);
      }
    }
  }
}
