.settings .progress {
    border-radius: 0.75rem;
    height: 23px;
    /* height: 28px !important; */
}

.settings .card {
    border: solid 0px;
}

.card-header {
    background-color: #f5f5f5;
    text-align: center;
    border: solid 0px;
    border-radius: 10px;
    height: 100px;
    vertical-align: middle;
}

.card-header h2 {
    height: 100%;
    line-height: 70px;
    vertical-align: middle !important;
    color: #404040 !important;
}

.card p {
    color: black !important;
}

.card-header:hover {
    background-color: #4da3ff !important;
    cursor: pointer;
}

.settings .card-header > h2 {
    color: #a0a0a0 !important;
    font-weight: bolder;
}

.card-header:hover > h2 {
    color: white !important;
}

.card-text {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    height: 100px;
    line-height: 60px;
}

.progress .progress-bar {
    border-radius: 10px;
    background-image: linear-gradient(to right, #538dff , #4b66ff);
}

.delete-account {
    color: #9a9a9a;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 100px;
}

.settings-hr-first {
    margin: 70px 0px;
}

.settings-hr-end {
    margin: 20px 0px 20px;
}

.popup--full-screen__content a.reach-to-us {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: solid 0px;
    color: #4585f5;
    font-weight: inherit;
    width: auto;
}

.popup--full-screen__content .logo {

}

.message-wrapper h1 {
    color: black;
}

.popup--full-screen__content {
    font-size: 15px;
}

.popup--full-screen__content .delete-account-info {
    background-color: #f8f9fa;
    color: #5c6066;
    padding: 15px 15px 10px 15px;
    margin: 0px;
}


.popup--full-screen__close-button-wrapper img {
    width: 24px;
    height: 24px;
}

.popup--full-screen__content .logo-delete-account {
    margin-left: 45px;
}

.delete-account-button {
    font-weight: 500;
}