.progress {
    border-radius: 0.75rem !important;
    height: 23px !important;
    /* height: 28px !important; */
}

.card {
    border: solid 0px !important;
}

.card-header {
    background-color: #f5f5f5 !important;
    text-align: center;
    border: solid 0px !important;
    border-radius: 10px !important;
    height: 100px;
    vertical-align: middle !important;
}

.card-header h2 {
    height: 100%;
    line-height: 70px;
    vertical-align: middle !important;
    color: #404040 !important;
}

.card p {
    color: black !important;
}

.card-header:hover {
    background-color: #4da3ff !important;
    cursor: pointer;
}

.card-header:hover > h2 {
    color: white !important;
}

.card-text {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    height: 100px;
    line-height: 90px;
}

.progress .progress-bar {
    border-radius: 10px;
    background-image: linear-gradient(to right, #538dff , #4b66ff);
}

hr {
    margin: 60px 0px !important;
}

.delete-account {
    color: #474747;
    font-size: 15px;
}