.popup-content {
  border: solid 0px transparent !important;
  padding: 0px !important;
  max-width: 450px;
  min-width: 450px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}

.ShareHeader {
  display: flex;
  border-bottom: solid 1px #ededed;
  padding: 20px 26px 5px 26px;
  width: 100%;

  p {
    width: 320px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .ShareClose {
    margin: 0px;

    img {
      margin-top: 5px;
      width: 22px;
      height: 22px;
    }
  }
}

.ShareBody {
  border-bottom: solid 1px #ededed;
  padding: 20px;
  color: #999999;
}

.Icon {
  border: solid 1px #5291ff;
  width: 35px;
  height: 35px;
  border-radius: 4.2px;

  .Extension {
    font-size: 8px;
    font-weight: bolder;
    color: #2e7bff;
    line-height: 50px;
  }
}


.Icon-image {
  width: 35px;
  height: 35px;
  border-radius: 4.2px;

  .Folder {
    width: 100%;
    height: 100%;
  }
}


.ShareName {
  p {
    text-align: left;
    line-height: 35px;
    margin-left: 20px;
    font-weight: bolder;
  }
}

.ShareFooter {
  display: flex;
  margin: 0 0 0px;

  .ShareLink {
    width: 100%;
    border-right: solid 1px #ededed;
    padding: 19px 0px 4px 28px;
    color: #999999;
    text-align: left;
  }

  .ShareCopy {
    float: right;
    margin: 13px 5px 0 0;

    a {
      background-color: transparent;
      width: auto;
      height: auto;
      margin: auto;
      border: solid 0px;
      font-family: inherit;
      color: #4b66ff !important;
    }
  }
}
