.popup-content {
  border: solid 0 transparent !important;
  padding: 0 !important;
  max-width: 450px;
  min-width: 450px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}

.ShareHeader {
  display: flex;
  border-bottom: solid 1px #ededed;
  padding: 20px 26px 5px 26px;
  width: 100%;

  p {
    width: 320px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .ShareClose {
    margin: 0;

    img {
      margin-top: 5px;
      width: 22px;
      height: 22px;
    }
  }
}

.ShareBody {
  border-bottom: solid 1px #ededed;
  padding: 20px;
  color: #999;
}

.Icon {
  border: solid 1px #5291ff;
  width: 35px;
  height: 35px;
  border-radius: 4.2px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .Extension {
    font-size: 8px;
    font-weight: bolder;
    color: #2e7bff;
    line-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.Icon-image {
  width: 35px;
  height: 35px;
  border-radius: 4.2px;

  .Folder {
    width: 100%;
    height: 100%;
  }
}

.ShareName {
  p {
    text-align: left;
    line-height: 35px;
    margin-left: 20px;
    font-weight: bolder;
  }
}

.ShareFooter {
  display: flex;
  margin: 0 0 0;

  >div:first-of-type {
    width: 100%;
    border-right: solid 1px #ededed;
    padding: 19px 0 4px 28px;
    color: #999;
    text-align: left;
  }

  .ShareCopy {
    float: right;
    margin: 13px 5px 0 0;
    position: relative;
    width: 105px;

    a {
      width: auto;
      background-color: transparent;
      border: solid 0;
      font-family: inherit;
      color: #4b66ff !important;  
      position: absolute;
      text-decoration: none;
    }

    .copy-effect {
      animation-duration: 1s;
      animation-name: fadeOutTop;
    }
  }
}

@keyframes fadeOutTop {
  from {
    opacity: 1
  }
  to {
      opacity: 0;
      transform: translateY(-70%);
  }
}