.Referred .referred-box {
    border: solid 1px #eaeced;
    border-radius: 6px;
    width: 641px;
    height: max-content;
    padding: 43px;
    margin-top: 4em;
    text-align: center;
}

.Referred .referred-title {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -0.2px;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
  }

.Referred .referred-description {
    text-align: justify;
    color: #737880;
    letter-spacing: -0.1px;
    font-size: 14px;
    line-height: 1.57;
}

.Referred .url-container {
    display: flex;
    margin-top: 30px;
}

.Referred .copy-button {
    display: flex;
   
    cursor: pointer;
    button {
        background-color: transparent;
        border-width: 2px;
        color: #4b66ff!important;
        font-weight: bold;
        border: 0 solid;
        font-family: "Cerebri Sans",sans-serif;
    }
}

.Referred .copy-button:hover {
    color:white!important;
}


.Referred .share-container {
    border-width: 2px;
    border: 0 solid;
    margin: 0px !important;
    display: flex;

    button {
        background-color: transparent;
        border: solid 0px;
        color: #4b66ff;
        font-family: "Cerebri Sans",sans-serif;
        font-weight: bold;
    }   

    div {
        display: flex;
        justify-content: space-around;
    }
}

.Referred .referred-url {
    border-radius: 4.9px;
    background-color: #f8f9fa;
    padding: 16px 14px 16px 14px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    line-height: 1.53;
    letter-spacing: -0.1px;
    color: #5c6066;
    flex-grow: 1;
    
    input {
        width: 100%;
        border: solid 0px;
        background-color: transparent;
        text-overflow: ellipsis;
    }    
  }


.Referred .social-container {
    padding: 0%;
    margin: 15px auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.Referred .social-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0px;
    background-color: transparent;
    border: solid 0px;

    img {
        padding-left: -10px;
    }
}

.Referred .mail-container {
    display: flex;
    margin-top: 35px;
    height:40px;
    width: max-content;
    align-items: flex-start;

    .mail-box {
        flex-grow: 4;
        height: 40px;
        width: 450px;
        border-radius: 3.9px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #ced4da;
        padding: 10px 16px;
        color: #5c6066;
        font-weight: 500;
        line-height: 1.53;
        letter-spacing: -0.1px;

    }    
}

.Referred .send-button {
    background-color: #4b66ff;
    border-width: 2px;
    margin-left: 5px;
    height: 40px;
}

.Referred .user-credit {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

.Referred .referred-button {
    background-color: #4b66ff;
    border-radius: 3.4px;
    height: 49px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-right: 10px;
    cursor: pointer;
    outline: transparent;
  }