.Referred .referred-box {
    border: solid 1px #eaeced;
    border-radius: 6px;
    width: 641px;
    height: 537px;
    padding: 43px;
    margin-top: 4em;
    text-align: center;
}

.Referred .referred-title {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -0.2px;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
  }

.Referred .referred-description {
    text-align: justify;
}

.Referred .referred-url {
    border-radius: 3.9px;
    background-color: #f8f9fa;
    margin-top: 40px;
    padding: 16px 14px 16px 14px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    line-height: 1.53;
    letter-spacing: -0.1px;
    color: #5c6066;
  }

.Referred .social-share {
    align-items: center;
}

.Referred .social-media-button {
    width: 40px;
    height: 40px;
    justify-items: center;
    display: flexbox;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 5px;

}


.Referred .social-button {
    width: 40px;
    height: 40px;
    justify-items: center;
    display: flexbox;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 5px;
}

.Referred .user-credit {
    margin-top: 60px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

.Referred .referred-button {
    background-color: #4585f5;
    border-radius: 3.4px;
    height: 49px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-right: 10px;
    cursor: pointer;
    outline: transparent;
    
  }