.Security {

}

.Security h5 {
    font-weight: 700;
    color: black;
}

.Security .security-box {
    border: solid 1px #eaeced;
    border-radius: 6px;
    width: 641px;
    height: 447px;
    padding: 43px;
}

.Security .security-title {
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -0.2px;
    color: #000000;
    margin-bottom: 10px;
}

.Security .security-description {
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: -0.1px;
    width: 514px;
    color: #737880;
}

.Security .security-button-container {
    margin-top: 39px;
}

.Security .security-button-container button {
    display: flexbox;
    border: solid 0px;
    border-radius: 20.5px;
    color: #ffffff;
    margin-right: 10px;
    height: 35px;
    outline: none !important;
    background-color: #fafbfc;
}

.Security .security-button-container button span.number {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #b1b5ba;
    border-radius: 50%;
    font-weight: 900;
    text-align: center;
    margin-right: 5px;
    line-height: 18px;
    margin: 3px;
    margin-right: 7px;
    font-size: 11px;
    color: #ffffff;
}

.Security .security-button-container button span.text {
    height: 100%;
    font-size: 14px;
    margin-right: 10px;
    color: #7e848c;
}

.Security .security-button-container button.on {
    background-image: linear-gradient(51deg, #096dff, #00b1ff);
    color: #4585f5;
}

.Security .security-button-container button.on span.number {
    background-color: #ffffff;
    color: #4585f5;
}

.Security .security-button-container button.on span.text {
    color: #ffffff;
}

.Security .security-button-container button.on span.text {
    color: #ffffff;
}

.Security .security-content {
    margin-top: 50px;
    color: #737880;
    font-size: 15px;
    line-height: 1.47;
    letter-spacing: -0.1px;
}

.Security .security-content input, .Security .security-content button {
    height: 48.6px;
}

.Security .box-step-1 div {
   padding-bottom: 39px;
}

.Security .box-step-1 img.google-authenticator-logo {
    margin-right: 42px;
}

.Security .box-step-1 img.app-store {
    margin-right: 12px;
}

.Security .box-step-2 .bidi-container img {
    margin-top: 10px;
    display: inline-block;
    width: 118px;
    float: left;
}

.Security .box-step-2 .code-container {
    float: left;
    margin-left: 50px;
}

.Security .box-step-2 .code-container .text-code-container {
    width: 160px;
    height: 40px;
    border-radius: 3.9px;
    background-color: #f8f9fa;
    padding: 10px 16px;
    margin-top: 16px;
    color: #5c6066;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.53;
    letter-spacing: -0.1px;
}

.Security .box-step-2 .code-container .desc-code-container {
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: normal;
    color: #737880;
    margin-top: 29px;
}

.Security .security-deactivation .disable-description {
    margin-bottom: 26px;
}

.Security .box-step-3 .backup-key {
    border-radius: 3.9px;
    background-color: #f8f9fa;
    margin-top: 27px;
    padding: 16px 34px 16px 34px;
    display: inline-block;

    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: -0.1px;
    color: #5c6066;
}
