.settings h5 {
    font-weight: 700;
}

.settings h2, .settings h5 {
    color: black;
}

.settings {
    color: #707070;
}

.settingsButton .dropdown-menu {
    border-radius: 14px;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.16);
    border: 0 solid;
    width: 212px;
    height: 96px;
    left: -148px!important;
    top: 40px!important;
}

.dropdown-menu .dropdown-item {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    padding: 0 25px;
    margin: 5px;
    width: 61px;
    height: 20px;
    letter-spacing: -0.1px;
    margin-bottom: 15px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}


.dropdown-item a {
    color: black;
}

.dropdown-item a:hover {
    text-decoration: none;
    color: black;
}
