.StorageProgressBar.progress {
    height: 16px;
    border-radius: 4px;
    margin: 16px 0px;
    
    .progress-bar {
        border-radius: 4px;
        background-image: linear-gradient(74deg, #096dff, #00b1ff);
    }
}
