.settings h5 {
    font-weight: 700;
}

.settings h2, .settings h5 {
    color: black;
}

.settings {
    color: #707070;
}

.deleteAccount {
    margin: 30px auto 30px auto;
    max-width: 621px;
    font-size: 13px;
    cursor: pointer;
    color: #A4A4A4;
}

.forgotPassword {
    margin: 20px auto 20px auto;
    max-width: 621px;
    font-size: 13px;
    cursor: pointer;
    color: #707070;
}

