@layer components {
  .file-activity-tabs-inner-container {
    top: 1px;

    @apply relative w-full flex justify-center;
  }

  .file-activity-info-item {
    @apply mb-6;

    span {
      @apply block;
    }

    .label {
      @apply text-xs;
    }

    .value {
      @apply text-sm;
    }
  }
}
