@tailwind components;

@layer components {
  .copy-effect {
    animation-duration: 1s;
    animation-name: fade-out-top;
  }

  @keyframes fade-out-top {
    from {
      opacity: 1;
      top: 0;
    }

    to {
      opacity: 0;
      bottom: 10px;
    }
  }
}
