@layer components {
  .navigation-buttons {
    height: max-content;
  }

  .pagination-button {
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px !important;

    @apply cursor-pointer rounded-1px text-neutral-500 text-xs hover:bg-neutral-10 flex items-center justify-center;
  }
}
