@tailwind components;

@layer components {
  .navigation-buttons {
    height: max-content;
  }

  .pagination-button {
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px !important;

    @apply flex cursor-pointer items-center justify-center rounded-1px text-xs text-neutral-500 hover:bg-neutral-10;
  }
}
