.user-avatar {
  height: 16px;
  width: 16px;
}

.welcome-message {
  line-height: 16px;
}

.theme-button {
  $size: 18px;

  border-radius: 50%;
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
}
