@layer components {
  .breadcrumb > li + li::before {
    content: "/";

    @apply text-blue-60 cursor-default px-2;
  }

  ol.breadcrumb {
    display: flex;

    li {
      @apply text-lg text-neutral-500;

      .icon {
        @apply mr-1;
      }
    }

    li.active {
      @apply text-blue-60 cursor-pointer;
    }
  }
}
