.settingsButton .btn {
    outline: 0;
    background-color: transparent !important;
    color: black !important;
    border: solid 0px;
}

.settingsButton .btn::before {
    display: none !important;
}

.btn-primary.dropdown-toggle:focus, .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem transparent !important;
}

.navbar {
    padding: 0 !important;
}

nav .navbar-brand {
    margin: 22px 22px;
}

input#uploadFile {
    display: none;
}

.top-bar {
    width: 60px;
}
.search-container {
    max-width: 950px;
    margin: auto;
    padding-right: 8px;
}

.search {
    border-radius: 23.1px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 46px;
    height: 46px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    float: right;

    border: solid 0px;
    cursor: pointer;
    outline: none;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position: 50%;
    color: transparent;
}

.search:focus, .search:valid {
    width: 380px;
    background-position: left;
    background-position-x: 5%;
    padding-left: 62px;
    color: #333333;
}