@layer components {
    .file-grid-item {
        border-radius: 8px;

        @apply relative bg-white p-4 box-border;

        &:hover, &.selected {
            background-color: var(--color-blue-20);
            box-shadow: inset 0px 0px 0px 0.15rem var(--color-blue-40);
        }

        .file-grid-item-icon-container {
            height: 70%;

            @apply flex justify-center items-center w-full;

            .file-icon {
                height: 50%;
            }
        }
    }

    .file-grid-item-actions-button {
        @apply top-2 right-2 rounded-1/2 w-4 h-4 bg-white cursor-pointer font-bold text-blue-60 absolute transition opacity-0 group-hover:opacity-100;
    }

    .file-grid-item-name-span {
        @apply whitespace-nowrap overflow-hidden overflow-ellipsis text-neutral-900 text-sm px-1 border border-dashed border-opacity-0 border-blue-40 hover:border-opacity-100;
    }
}
