.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.App-logo {
  animation: App-logo-loader infinite 2s ease-out;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-loader {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 50px !important;
}

.popup-overlay a {
  width: 150px;
  height: 30px;
  display: block;
  margin: 0 auto;
  background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
  text-decoration:none;
}

.popup-overlay a:first-child {
  margin-bottom: 30px;
}

.full-height {
  height: 100%;
}

.loader__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}