@font-face {
  font-family: "Cerebri Sans";
  src: url(./assets/fonts/CerebriSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(./assets/fonts/CerebriSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(./assets/fonts/CerebriSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(./assets/fonts/CerebriSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(./assets/fonts/CerebriSans-Book.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(./assets/fonts/Gotham-Book-Regular.otf);
}

/* Alberto: Since now, all elements in this page
will have CircularStd as default font. */
* {
  font-family: 'Cerebri Sans', sans-serif;
  // font-family: Gotham;
}

.Alert {
  width: 70%;
  margin: auto;
}

.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
}

.popup-content.popup--full-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 483px !important;
}

.popup--full-screen__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.buttons-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 10px;
  border-top: #ededed 1px solid;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: left;
  padding-top: 10px;
}

.popup--full-screen__content .message-wrapper {
  margin: auto;

  h1 {
    margin-top: 25px;
    font-size: 25px;
    font-weight: 900;
  }

  h2 {
    font-size: 15px;
    color: #707070;
    font-weight: 400;
    line-height: 1.5;
  }
}

.button-primary {
  color: #4b66ff;
}

.popup--full-screen__content .button-primary {
  width: 175px;
  height: 52px;
  border-radius: 4px;
  background-color: #4385f4;
  color: white;
  font-size: 19px;
}

.popup--full-screen__content .buttons-wrapper {
  border: 0;
  justify-content: center;
}

.popup--full-screen__close-button-wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}

.popup--full-screen__close-button-wrapper img {
  width: 24px;
  height: 24px;
}

.logo img {
  width: 45px;
  height: 30px;
}

.logo.logo-runoutstorage {
  margin: 30px 0 10px 45px;
  width: 50px;
}

.popup--full-screen .logo img {
  width: 40px;
}

.popup-overlay a {
  width: 150px;
  height: 30px;
  margin: 0 auto;
  background-color: #79bbff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}

.popup-overlay a:first-child {
  margin-bottom: 30px;
}

.loader__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-button {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  border-radius: 10px;
  color: #222;
  letter-spacing: -0.2px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100% !important;
  margin-bottom: 30px;
  font-size: 16px !important;
  font-weight: 500;
}

.default-button:hover {
  border: 1px #222 solid;
}

.button-primary:hover {
  border-color: #4b66ff;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  letter-spacing: 0;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #ccc;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 15px;
  font-weight: 200;
}
