.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
}

.popup-overlay a {
  width: 150px;
  height: 30px;
  display: block;
  margin: 0 auto;
  background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
  text-decoration:none;
}

.popup-overlay a:first-child {
  margin-bottom: 30px;
}

.full-height {
  height: 100%;
}

.loader__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
  border-top: #ededed 1px solid;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 20px !important;
}

.default-button {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  margin: 0 0.5rem;

  min-width: 100px;
  padding: 10px;
  border-radius: 10px;
  border: 1px transparent solid;

  color: #222;
  font-family: "Cerebri Sans", Arial, sans-serif;
  letter-spacing: 0;

  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.default-button:hover {
  border: 1px #222 solid
}

.button-primary {
  color: #4b66ff;
}

.button-primary:hover {
  border-color: #4b66ff;
}