header {
    margin: 19px 21px;
    display: flex;
    justify-content: space-between;
}

header div {
    display: flex;
}

header .header-middle .HeaderButton {
    margin: 0 7px;
}

input {
    display: none;
}