.Login {
  padding: 60px 0 20% 20%;
  position: relative;
  justify-content: center;
}

.LoginHeader {
  position: relative;
  justify-content: center;
  font-family: "Cerebri Sans", Arial, sans-serif;
  text-align: left;
  color: #000000;
}

.formBlock {
  width: 70%;
  min-width: 250;
}

.formAlert {
  width: 70%;
}

.checkbox {
  display: inline;
}

button {
  background-color: #4385f4;
  color: #ffffff;
  border-radius: 3px;
}
