.Logo {
  margin: 6px 10px;
}

.Login {
  margin: 40px 25% 0 10%;
  width: 80%;
  position: relative;
  justify-content: center;
  font-family: CircularStd;
}

.LoginHeader {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #000000;
}

.LoginSubHeader {
  font-weight: 400;
}

.formBlock {
  margin: 0 50% 0% 0%;
  width: 100%;
}

.formAlert {
  width: 70%;
}

.btn-toolbar {
  display: block;
}

#button-on ,#button-off {
  font-weight: bold;
  margin: 0 10px 0 10px;
  padding: 20px 0 20px 0;
  width: 30%;
}

#button-on {
  background-color: #4385f4;
  color: #ffffff;
}

#button-off {
  background-color: #f7f7f7;
  color: #404040;
  border-style: none;
}

#Terms {
  margin-top: 5%;
  color: #6d6d6d;
}

#Login h2 {
  font-weight: bold;
  margin-bottom: 30px;
}

#Login h4 {
  margin: 60px 0 20px 0;
}

#Login .form-control-lg {
  font-size: 16px;
  height: 60px;
}

#Login .form-control-lg:focus {
  border-radius: 8px;
  border: solid 1px #4385f4;
  box-shadow: none;
}

#Login .button-submit{
  font-weight: bold;
  padding: 20px 0px;
}

#Login .btn-primary:disabled {
  background-color: #f7f7f7;
  color: #494949;
  border-style: none;
}

button {
  background-color: #4385f4;
  color: #ffffff;
  border-radius: 6px;
}