@layer components {
  .copy-effect {
    animation-duration: 1s;
    animation-name: fadeOutTop;
  }

  @keyframes fadeOutTop {
    from {
      opacity: 1;
      top: 0px;
    }

    to {
      opacity: 0;
      bottom: 10px;
    }
  }
}
