.file-list-item {
    background-color: white;
}

td {
    padding: 14px 0;
}

.type-icon {
    height: 22px;
}

.file-list-item-actions-button {
    height: 16px;
    width: 16px;
}

@layer components {
    .hover-action {
        @apply transition opacity-0 group-hover:opacity-100 text-blue-60;
    }
}