.key {
  display: flex;
  height: 100vh;
  margin-top: 102px;
  margin-bottom: 15px;
  position: relative;
  justify-content: center;
}

.key.popup-active ::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.key-inner {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.key-title {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -1.5px;
  text-align: center;
  margin-bottom: 15px;
  color: #000000;
}

.key-subtitle {
  opacity: 0.84;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.54;
  letter-spacing: -0.2px;
  text-align: center;
  font-weight: normal;
  color: #404040;
  margin-bottom: 10px;
}

.mnemonic-container {
  width: 100%;
  height: 85px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px dashed #979797;
}

.mnemonic-value {
  opacity: 0.57;
  font-size: 18px;
  letter-spacing: -0.2px;
  color: #000000;
  margin-left: 10;
  text-align: center;
}

.button-copy {
  width: 44px;
  height: 44px;
  margin: 0 10px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  background-color: #f7f7f7;
  cursor: pointer;
}

.save-key-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-save-key {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 15px;
  height: 73px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #c9c9c9;
  cursor: pointer;
}

.button-save-key.selected {
    border: 1px solid #4385f4;
}

.button-save-key .label {
  opacity: 0.57;
  font-size: 15px;
  letter-spacing: -0.2px;
  color: #000000;
  font-size: 18px;
}

.button-save-key .icon-info {
  margin-left: 20px;
}

.button-continue {
  width: 100%;
  height: 73px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #4385f4;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.1px;
  color: #ffffff;
  border: none;
}

.button-continue:disabled,
.button-continue[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.popover-body p {
  font-size: 18px;
  color: #979797;
  margin: 15px 15px;
  text-align: justify;
}
