.login-container-box {
  margin: 7% auto auto auto;

  background-color: white;

  width: 472px !important;

  border: solid 1px #eaeced;
  border-radius: 6px;
  padding: 40px !important;
}

.login-container-box > .logo > img {
  height: 27.5px;
  width: 52.4px;
}

.container-title {
  font-size: 25px;
  font-weight: 600;
}

.container-register button {
  background-color: #4585f5;
  border-radius: 3.4px;
  height: 49px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.container-register button {
outline: transparent;
}

.container-register button.on {
  color: white;
  box-shadow: 0 2px 3px 0 rgba(174, 199, 242, 0.62);
  border: solid 0px #eaeced;

}
.container-register button.off {
  background-color: #f7f7f7;
  color: #5c5c5c;
  border: solid 0px;
}

.login-container-box .form-control {
  height: 49px;
}

.privacy-disclaimer {
  color: #737880;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.11px;
}

.privacy-remainders {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.1px;
  color: #5c6066;
  background-color: #f8f9fa;
  padding: 5px 20px 15px 40px;
  margin-bottom: 40px;
}

.privacy-remainders li {
  margin-top: 12px;
}

.form-register {
  margin-top: 37px;
}

.form-register-submit {
  margin-top: 18px;
}

.menu-box {
  margin-bottom: 21px;
  margin-top: 32px;
  padding: 0px;
}


.btn:disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
}
/*
.form-control:invalid, .form-control:active {
  background-color: rgb(255, 222, 222) !important;
}
*/