.login-container-box {
  margin: 7% auto auto auto;
  background-color: white;
  width: 472px !important;
  border: solid 1px #eaeced;
  border-radius: 6px;
  padding: 40px !important;
  height: 460px;
}

.xcloud-toast-info {
  background-color: #4585f5 !important;
}

.login-container-box-forgot-password {
  margin: 0% auto auto auto;
  background-color: white;
  width: 550px !important;
  padding: 40px !important;

  > p {
    margin: -30px auto -30px auto;
    font-size: 15px;
  }
}

.container-register,
.popup--full-screen__content {
  margin-top: 5px;

  > .logo {
    display: inline-block;

    > img {
      width: 30px;
      height: 45px;
    }
  }

  .container-title {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    line-height: 45px;
    vertical-align: bottom;
    margin-left: 15px;
  }

  button {
    background-color: #4585f5;
    border-radius: 3.4px;
    height: 49px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    outline: transparent;

    &.on {
      color: white;
      box-shadow: 0 2px 3px 0 rgba(174, 199, 242, 0.62);
      border: solid 0 #eaeced;
    }

    &.off {
      background-color: #f7f7f7;
      color: #5c5c5c;
      border: solid 0;
    }
  }
}

.login-container-box .form-control {
  height: 49px;
}

.login-container-box * button:disabled {
  opacity: 0.5;
}

.privacy-disclaimer {
  color: #737880;
  font-size: 15px;
  text-align: justify;
  line-height: 22px;
  letter-spacing: -0.11px;
}

.privacy-remainders {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.1px;
  color: #5c6066;
  background-color: #f8f9fa;
  padding: 5px 20px 15px 40px;
  margin-bottom: 40px;
}

.privacy-remainders li {
  margin-top: 12px;
}

.form-register {
  margin-top: 37px;
}

.form-register-submit {
  margin-top: 18px;
}

.menu-box {
  margin-bottom: 21px;
  margin-top: 20px;
  padding: 0;
}

.btn:disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
}

/* .__btn-new-password {
  &:focus {
    background-color: red !important;
    outline: none !important;
    box-shadow: none !important;
  }
} */

.__btn-new-password:focus {
  background-color: #4585f5 !important;
  border-color: #0062cc !important;
  outline: none !important;
  box-shadow: none !important;
}

.__btn-new-button:hover {
  background-color: #4585f5 !important;
  border-color: #0062cc !important;
  outline: none !important;
  box-shadow: none !important;
}

.__btn-new-button:active {
  background-color: #4585f5 !important;
  border-color: #0062cc !important;
  outline: none !important;
  box-shadow: none !important;
}
